:root {
  --golden-ratio: 1.61803398875;

  --color-base: 7;
  --black-base: calc(var(--color-base) * var(--golden-ratio));
  --white-color: rgb(calc(256 - var(--black-base)), calc(256 - var(--black-base)), calc(256 - var(--black-base)));
  --black-color: rgb(var(--black-base), var(--black-base), var(--black-base));

  --accent-base-color: 70;
  --accent-r-1-color: calc(var(--accent-base-color) * 2);
  --accent-r-2-color: calc(var(--accent-base-color) * var(--golden-ratio) * 2);
  --accent-r-3-color: calc(var(--accent-base-color) * var(--golden-ratio) * var(--golden-ratio) * 2);
  --accent-g-1-color: calc(var(--accent-base-color));
  --accent-g-2-color: calc(var(--accent-base-color) * var(--golden-ratio));
  --accent-g-3-color: calc(var(--accent-base-color) * var(--golden-ratio) * var(--golden-ratio));
  --accent-b-1-color: calc(var(--accent-base-color) * 2);
  --accent-b-2-color: calc(var(--accent-base-color) * var(--golden-ratio) * 2);
  --accent-b-3-color: calc(var(--accent-base-color) * var(--golden-ratio) * var(--golden-ratio) * 2);

  --accent-1-color: rgb(var(--accent-r-1-color), var(--accent-g-1-color), var(--accent-b-1-color));
  --accent-2-color: rgb(var(--accent-r-2-color), var(--accent-g-2-color), var(--accent-b-2-color));
  --accent-3-color: rgb(var(--accent-r-3-color), var(--accent-g-3-color), var(--accent-b-3-color));
}

:root[theme=light] {
  --background-color: var(--white-color);
  --text-color: var(--black-color);
}

:root[theme=dark] {
  --background-color: var(--black-color);
  --text-color: var(--white-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 200ms linear;
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  border-collapse: collapse;
}

body {
  width: 100vw;
  min-height: 100vw;
  padding: 1rem;

  background-color: var(--background-color);
}

h1 {
  font-size: calc((1rem * (var(--golden-ratio) - 1)) * var(--golden-ratio) * var(--golden-ratio) * var(--golden-ratio))
}

h2 {
  font-size: calc((1rem * (var(--golden-ratio) - 1)) * var(--golden-ratio) * var(--golden-ratio))
}

h3 {
  font-size: calc((1rem * (var(--golden-ratio) - 1)) * var(--golden-ratio))
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav #main-title {
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

nav #toolkit {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.7rem;
}

nav #toolkit * {
  display: block;
}

nav #toolkit a {
  align-self: center;
  font-size: calc(0.5rem * var(--golden-ratio));
  line-height: calc(0.5rem * var(--golden-ratio));
}

nav #toolkit a:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--accent-2-color);
}

nav #toolkit a[rel=me]:hover,
nav #toolkit a[rel=help]:hover {
  cursor: help;
}

nav #toolkit a:hover .tooltip {
  visibility: visible;
}

nav #toolkit a .tooltip {
  visibility: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border: 1px solid var(--accent-3-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;

  position: absolute;
  z-index: 1;
  transition: all 1ms ease;
}

nav #toolkit a:nth-last-child(1) .tooltip,
nav #toolkit a:nth-last-child(2) .tooltip {
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#container > section {
  width: 40vw;
}

#container > section textarea {
  width: 100%;
  height: 80vh;
  padding: 0.5rem;
  resize: none;
}

#container > section textarea:focus-visible {
  outline-offset: max(2px, 0.1rem);
  outline: max(2px, 0.1rem) solid var(--accent-2-color);
}

#container > div > div > table th {
  user-select: none;
}

::selection {
  background-color: var(--accent-1-color);
}

.accent {
  color: var(--white-color);
  background-color: var(--accent-1-color);
}
